<table class="table">
  <thead>
    <tr>
    <td colspan="2">Bienvenid@ a tu perfil!</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Número de Cuenta: </th>
      <!-- <th>{{perfil.numct}}</th> -->
    </tr>
    <tr>
      <th scope="row">Nombre: </th>
      <!-- <th>{{perfil.nombre}}</th> -->
    </tr>
    <tr>
      <th scope="row">Status: </th>
      <!-- <th>{{perfil.estaActivo}}</th> -->
    </tr>
    <tr>
      <th scope="row">Correo: </th>
      <!-- <th>{{perfil.correo}}</th> -->
    </tr>
    <tr>
      <th scope="row">Celular: </th>
      <!-- <th>{{perfil.celular}}</th> -->
    </tr>
    <tr>
      <th scope="row">PUMA PUNTOS: </th>
      <!-- <th>{{perfil.pumaPuntos}}</th> -->
    </tr>
  </tbody>
</table>
