<table class="table">
  <thead>
    <tr>
    <td colspan="2">Bienvenid@ a tu perfil!</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Número de Cuenta: </th>
      <td>{{perfil.numct}}</td>
    </tr>
    <tr>
      <th scope="row">Nombre: </th>
      <td>{{usuario.nombre}}</td>
    </tr>
    <tr>
      <th scope="row">Status: </th>
      <td>{{usuario.estaActivo}}</td>
    </tr>
    <tr>
      <th scope="row">Correo: </th>
      <td>{{usuario.correo}}</td>
    </tr>
    <tr>
      <th scope="row">Celular: </th>
      <td>{{usuario.celular}}</td>
    </tr>
    <tr>
      <th scope="row">PUMA PUNTOS: </th>
      <td>{{usuario.pumaPuntos}}</td>
    </tr>
  </tbody>
</table>
