<table class="table">
  <thead>
    <tr>
    <td colspan="2">Bienvenid@ a tu perfil!</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Número de Cuenta: </th>
      
    </tr>
    <tr>
      <th scope="row">Nombre: </th>
      
    </tr>
    <tr>
      <th scope="row">Status: </th>
      
    </tr>
    <tr>
      <th scope="row">Correo: </th>
      
    </tr>
    <tr>
      <th scope="row">Celular: </th>
      
    </tr>
    <tr>
      <th scope="row">PUMA PUNTOS: </th>
      
    </tr>
  </tbody>
</table>
